.product-page {
    margin-inline: 24px;
    row-gap: 24px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &__main {
        padding: 24px;
        background-color: white;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        min-width: 75%;
        max-width: 75%;
        margin-inline: auto;

        &__card {
            display: flex;
            column-gap: 24px;

            &__image {
                line-height: 0;

                img {
                    width: 300px;
                }
            }

            &__details {
                flex: 1 1 auto;
                display: flex;
                flex-direction: column;
                row-gap: 16px;

                &__about {
                    display: flex;
                    flex-direction: column;

                    &::before {
                        content: "Описание";
                        margin-bottom: 4px;
                        color: gray;
                    }
                }

                &__buyer {
                    display: flex;
                    flex-direction: column;

                    &::before {
                        content: "Продавец";
                        margin-bottom: 4px;
                        color: gray;
                    }
                }

                &__action {
                    width: 100%;
                    display: flex;
                    margin-top: auto;

                    &__price {
                        &-default {
                            font-size: 24px;
                            color: black;
                        }

                        &-discount {
                            font-size: 24px;
                            color: var(--positive);
                        }
                    }

                    &__discount {
                        font-size: 24px;
                        color: var(--positive);
                        margin-left: 8px;
                    }

                    &__buy {
                        margin-left: auto;
                        display: flex;
                        column-gap: 8px;

                        .no-text {
                            gap: 0;
                        }

                        &__in-cart {
                            background-color: var(--positive) !important;
                            border: 1px solid var(--positive) !important;

                            &:hover {
                                background-color: var(--positive-hover) !important;
                                border: 1px solid var(--positive-hover) !important;
                            }

                            &:active {
                                background-color: var(--positive) !important;
                                border: 1px solid var(--positive) !important;
                            }
                        }
                    }
                }
            }
        }

        &__details {
            margin-top: 12px;
        }

        &__description {
            &__value {
                margin-top: 4px;
            }
        }

        &__reviews {
            display: flex;
            flex-direction: column;
            row-gap: 8px;

            &__title {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &__action {
                    padding: 0;
                    height: fit-content;
                }
            }

            &__content {
                display: flex;
                flex-direction: column;
                row-gap: 12px;

                &__comment {
                    display: flex;
                    flex-direction: column;
                    row-gap: 4px;

                    &__info {
                        color: #555;
                        display: flex;

                        &__review {
                            display: flex;
                            column-gap: 4px;
                            width: 50px;
                        }

                        &__date {
                            margin-left: auto;
                            display: flex;
                            column-gap: 8px;
                        }
                    }

                    &:not(:last-child) {
                        border-bottom: 2px solid lightgray;
                        padding-bottom: 8px;
                    }
                }
            }
        }
    }
}

.tabs {
    display: flex;
    border-bottom: 1px solid lightgray;
    column-gap: 16px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-bottom: 0px;

    &__tab {
        padding: 8px 16px;
        border: 1px solid lightgray;

        background-color: whitesmoke;
        transition: background-color 0.5s;

        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        margin-bottom: -1px;
        cursor: pointer;

        span {
            transition: color 0.5s;
        }

        &.opened {
            border-bottom: 1px solid white;
            background-color: white;

            span {
                color: var(--secondary-color);
            }
        }

        &hover {
            background-color: whitesmoke;
            cursor: pointer;
        }
    }
}