@media screen and (max-width: 720px) {
    .product-page {
        margin-inline: 2px;

        &__main {
            padding: 2px;

            &__card {
                display: flex;
                flex-direction: column;

                &__details {
                    &__title {
                        font-size: 20px;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 720px) {
    .product-page {
        margin-inline: 24px;

        &__main {
            padding: 24px;
        }

        &__card {
            column-gap: 24px;

            &__image {

            }

            &__details {
            }
        }
    }
}

.product-page {
    row-gap: 24px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &__main {
        background-color: var(--background);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        width: 100%;
        margin-inline: auto;

        &__card {
            display: flex;

            &__image {
                display: flex;
                justify-content: center;
                line-height: 0;

                img {
                    width: 300px;
                }
            }

            &__details {
                flex: 1 1 auto;
                display: flex;
                flex-direction: column;
                row-gap: 16px;

                &__about {
                    display: flex;
                    flex-direction: column;

                    &::before {
                        content: "Описание";
                        margin-bottom: 4px;
                        color: gray;
                    }
                }

                &__buyer {
                    display: flex;
                    flex-direction: column;

                    &::before {
                        content: "Продавец";
                        margin-bottom: 4px;
                        color: gray;
                    }
                }

                &__action {
                    width: 100%;
                    display: flex;
                    margin-top: auto;

                    &__price {
                        &-default {
                            font-size: 24px;
                            color: black;
                        }

                        &-discount {
                            font-size: 24px;
                            color: var(--positive);
                        }
                    }

                    &__discount {
                        font-size: 24px;
                        color: var(--positive);
                        margin-left: 8px;
                    }

                    &__buy {
                        margin-left: auto;
                        display: flex;
                        column-gap: 8px;

                        .no-text {
                            gap: 0;
                        }

                        &__in-cart {
                            background-color: var(--positive) !important;
                            border: 1px solid var(--positive) !important;

                            &:hover {
                                background-color: var(--positive-hover) !important;
                                border: 1px solid var(--positive-hover) !important;
                            }

                            &:active {
                                background-color: var(--positive) !important;
                                border: 1px solid var(--positive) !important;
                            }
                        }
                    }
                }
            }
        }

        &__details {
            margin-top: 12px;
        }

        &__description {
            &__value {
                margin-top: 4px;
            }
        }

        &__reviews {
            display: flex;
            flex-direction: column;
            row-gap: 8px;

            &__title {
                display: flex;
                justify-content: space-between;
                align-items: center;

                h2 {
                    display: flex;
                    align-items: center;
                }

                &__star {
                    width: 20px;
                    height: 20px;
                    margin-right: 4px;
                }

                &__action {
                    padding: 0;
                    height: fit-content;
                }
            }

            &__content {
                display: flex;
                flex-direction: column;
                row-gap: 12px;

                &__comment {
                    border: 1px solid lightgray;
                    padding: 12px;
                    border-radius: 12px;

                    display: flex;
                    flex-direction: column;
                    row-gap: 12px;

                    &__info {
                        color: #555;
                        display: flex;
                        align-items: center;
                        column-gap: 12px;

                        &__avatar {
                            line-height: 0;

                            &__img {
                                border-radius: 50%;
                                width: 48px;
                                height: 48px;
                                object-fit: contain;
                            }
                        }

                        &__author {
                            font-size: 20px;
                        }

                        &__review {
                            display: flex;
                            align-items: center;
                            font-size: 20px;
                            margin-left: auto;
                            column-gap: 8px;

                            &__rating {
                                display: flex;
                                align-items: center;
                                column-gap: 4px;
                                line-height: 0;

                                &__star {
                                    width: 20px;
                                    height: 20px;
                                }
                            }
                        }
                    }
                }

                &__more {
                    align-self: flex-start;
                    padding: 0;
                    height: fit-content;
                }
            }
        }
    }
}