<div class="container">
    <component data-id="header"></component>
    <main class="test_page">
        <h1>Тестирование обновления компонент</h1>
        <div style="display: flex; column-gap: 16px">
            <component data-id="add"></component>
            <component data-id="remove"></component>
        </div>
        <component data-id="list"></component>
    </main>
    <component data-id="footer"></component>
</div>
