.textField {
    position: relative;

    input {
        outline: none;
        border-radius: var(--input-m-border-radius);
        font-family: inherit;

        padding: 13.5px 10px;
        border-radius: 10px;
        width: 100%;

        background-color: var(--input-background-color);
        font-size: var(--input-m-font-size);
        border: 1px solid var(--input-background-color);
        outline: none;
        font-weight: 300;
        caret-color: #1783FF;
        caret-color: var(--secondary-color);

        height: var(--input-m-height);

        &::placeholder {
            color: var(--dark-gray-text-color);
        }

        &.default {
            background-color: var(--input-background-color);
            padding: 13.5px 10px;
            color: black;
        }

        &.success {
            padding-right: 42px;
            outline: 2px solid #1783FF;
        }

        &.invalid {
            padding-right: 44px;
            outline: 2px solid #F04346;
            background-color: rgba(240, 67, 70, 10%);
        }

        &:focus {
            outline: 1px solid var(--secondary-color);
            background-color: var(--input-background-color);
        }
    }

    img {
        position: absolute;
        top: 50%;
        right: 8px;
        transform: translateY(-50%);
        line-height: 0;
    }
}