.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 14px;
    outline: none;
    border-radius: 8px;
    font-family: inherit;
    font-size: 16px;
    letter-spacing: 0.5px;
    cursor: pointer;
    color: white;
    gap: 4px;

    &:disabled {
        cursor: not-allowed;
    }

    &_text {
        color: var(--background-button-color);
        background-color: transparent;
        border: 1px solid transparent;

        &:not(:disabled) {
            &:hover {
                color: var(--background-button-hover-color);
            }

            &:active {
                color: var(--background-button-active-color);
            }
        }

        &:disabled {
            color: var(--background-button-disabled-color);
        }

    }

    &_primary {
        border: 1px solid var(--background-button-color);
        background-color: var(--background-button-color);

        &:not(:disabled) {
            &:hover {
                border: 1px solid var(--background-button-hover-color);
                background-color: var(--background-button-hover-color);
            }

            &:active {
                border: 1px solid var(--background-button-active-color);
                background-color: var(--background-button-active-color);
            }
        }

        &:disabled {
            border: 1px solid var(--background-button-disabled-color);
            background-color: var(--background-button-disabled-color);
        }
    }

    &_transparent {
        color: var(--dark-gray-text-color);
        border: none;
        background: none;

        &:not(:disabled):hover {
            color: var(--background-button-color);
        }

        &:disabled {
            color: var(--dark-gray-text-color);
        }
    }

    &_sm_size {
        font-size: var(--button-xs-font-size);
        height: var(--button-xs-height);
    }

    &_s_size {
        font-size: var(--button-s-font-size);
        height: var(--button-s-height);
    }

    &_m_size {
        font-size: var(--button-m-font-size);
        height: var(--button-m-height);
    }

    &_l_size {
        font-size: var(--button-l-font-size);
        height: var(--button-l-height);
    }

    &_top {
        flex-direction: column;
    }

    &_bottom {
        flex-direction: column-reverse;
    }

    &_left {
        flex-direction: row;
    }

    &_right {
        flex-direction: row-reverse;
    }
}

.icon {
    &_l_size {
        width: 24px;
        height: 24px;
    }
}