<article class="product-card flex-column">
    <div class="carousel-images">
        <img alt="product" src="#" width="256" height="256">
        <div class="controls">
            ...
        </div>
    </div>

    <div class="prices full-wide">
        <div class="sell-price">2000₽</div>
        <div class="old-price">4999₽</div>
        <div class="sale-percentage">-40%</div>
    </div>

    <div class="brand full-wide">
        Nike
    </div>

    <div class="product-title full-wide">
        Кроссовки Air Jordan Rainbow
    </div>

    <div class="reviews full-wide">
        <div class="reviews__star-block">5.0</div>
        <div class="reviews__count-block">299 отзывов</div>
    </div>

    <div class="product-manip full-wide">
        <button type="button" class="btn button__success full-wide">Купить</button>
    </div>
</article>