:root {
    --background-button-color: #912872;
    --background-button-hover-color: #B73F93;
    --background-button-active-color: #AE94A6;
    --sale-color: #E22427;
    --reviews-accent-color: #FFDD00;
    --light-gray-color: #D4D4D4;
    --black-color: #000000;
}
