@import url("globalVariables.css");
@import url("../src/components/index.css");
@import url("../src/pages/index.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    background-color: var(--site-background);
}
body {
    margin: 0;
    min-height: 100%;
}

#root {
    min-height: 100vh;
    width: var(--max-width);
    margin: 0 auto;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
