@media screen and (max-width: 1280px) {
    .reg-page {
        margin-inline: 4px;

        &__content {
            flex-direction: column;
            padding: 20px 10px;

            &__title {
                margin-bottom: 24px;
            }

            &__form {
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: 1280px) {
    .reg-page {
        &__content {
            padding: 72px 52px 54px 52px;
            height: 566px;

            &__title {
                width: 424px;
                &__input-comment {
                    margin-top: 31px;
                    width: 361px;
                }
            }

            &__form {
                width: 500px;
            }
        }
    }
}

.reg-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    &__content {
        border-radius: 20px;

        display: flex;

        border: 1px solid #C1D6E5;
        background-color: #F5F7FA;

        &__title {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;

            &__icon {
                margin-bottom: 30px;
            }

            &__header {
                &__h1 {
                    font-size: 32px;
                    font-weight: 500;
                    margin-bottom: 10px;
                }

                &__comment {
                    color: #737980;
                    font-size: 16px;
                    width: 361px;
                }
            }

            &__input-comment {

                &__error {
                    color: #F04346;
                }

                &__help ul,
                &__error ul {
                    margin-top: 12px;
                    margin-left: 24px;
                }
            }

            &__redirect {
                margin-top: auto;
                padding-inline: 0;
            }
        }

        &__form {

            &__font-content {
                row-gap: 30px;
                display: flex;
                flex-direction: column;
            }

            &__actions {
                margin-top: 30px;
                display: grid;
                grid-template-columns: auto 1fr;
                column-gap: 30px;
            }
        }
    }
}