.cart-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-inline: 24px;

    main {
        flex: 1 1 auto;
        margin-inline: auto;
        min-width: 75%;

        .content {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            column-gap: 20px;
            align-items: flex-start;
            overflow: hidden;
            max-height: 100%;

            .list {
                .empty-cart {
                    color: gray;
                    display: flex;
                    column-gap: 8px;
                }

                padding: 20px;
                background-color: white;
                border-radius: 20px;

                flex: 1 1 auto;
                display: flex;
                flex-direction: column;
                row-gap: 22px;

                .item {
                    display: flex;
                    column-gap: 12px;

                    .cover {
                        width: 100px;
                        height: 100px;
                        border-radius: 12px;
                    }

                    .description {
                        flex: 1 1 auto;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        .title {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            column-gap: 16px;

                            .name {
                                font-size: 14px;
                            }

                            .price {
                                display: flex;
                                column-gap: 8px;
                                font-size: 16px;
                                margin-left: auto;

                                &.discount {
                                    color: var(--positive);
                                }
                            }

                            .actions {
                                display: flex;
                                column-gap: 5px;
                                margin-left: 12px;

                                .button {
                                    gap: 0;
                                    padding: 7px 11px;
                                    height: 30px;
                                    font-size: 12px;
                                }


                                .count {
                                    background-color: lightgray;
                                    width: 40px;
                                    color: black;
                                    height: 30px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    border-radius: 8px;
                                    padding: 7px 11px;
                                    text-align: center;
                                }
                            }
                        }

                        .manage {
                            display: flex;
                            align-items: center;
                            column-gap: 8px;

                            .icon-btn {
                                gap: 0;
                                padding: 7px 11px;
                                height: 30px;
                            }

                            .btn {
                                padding: 7px 11px;
                                height: 30px;
                                font-size: 12px;
                            }

                            .remainCount {
                                font-size: 14px;
                                color: gray;
                            }
                        }
                    }
                }
            }

            .total {
                flex: 0 1 300px;

                width: 300px;
                background-color: white;
                padding: 20px;
                border-radius: 20px;

                .make-order {
                    width: 100%;
                }

                .comment {
                    margin-top: 8px;
                    margin-bottom: 36px;
                    font-size: 12px;
                    color: darkgray;
                }

                .discount {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 8px;
                    color: var(--positive);

                    .cost {
                        font-size: 16px;
                    }
                }

                .sum-cost {
                    display: flex;
                    justify-content: space-between;

                    .cost {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}