.payment-type {
    background-color: whitesmoke;
    border: 1px solid lightgray;
    border-radius: 8px;
    width: fit-content;
    padding: 16px;

    display: flex;
    column-gap: 12px;
    line-height: 0;

    cursor: pointer;

    .icon {
        height: 40px;
    }

    .description {
        line-height: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
            font-weight: bold;
        }

        .disabled {
            color: gray;
        }
    }

    &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &.active {
        border: 2px solid var(--secondary-color);
    }
}