<header class="flex-column header__light">
    <div class="header-row main-row">
        <img class="logo" alt="Логотип маркетплейса Bazaar" src="src/shared/images/LogoFull.svg">
        <div class="search-field-wrapper flex">
            <component data-id="catalog-button"></component>
            <component data-id="main-search-input"></component>
        </div>
        <div class="icons-wrapper flex">
            <component data-id="orders-button"></component>
            <component data-id="saved-button"></component>
            <component data-id="cart-button"></component>
            <component data-id="profile-button"></component>
        </div>
    </div>

    <div class="header-row secondary-row">
        <div class="address-wrapper">
            улица Космонавтов 7
        </div>
    </div>
</header>