@media screen and (max-width: 1280px) {
    .header__nav__row_main__icons-wrapper {
        display: none !important;

        &__phone {
            display: flex !important;
        }
    }

    .header__nav__tf {
        display: block !important;
        z-index: 4;
    }

    .header__nav__row {
        column-gap: 16px;
    }

    .header__nav__secondary {
        display: none !important;
    }
}

@media screen and (max-width: 930px) {
    .header__nav__row_main__search-field-wrapper {
        display: none !important;
    }

    .header__nav__row_main__icons-wrapper__phone__button.s {
        visibility: visible !important;
    }
}

// @keyframes download-shadow-animation {
//     0% {
//         background-position: 100% 50%;
//     }

//     100% {
//         background-position: 0% 50%;
//     }
// }

@keyframes close-animation {
    0% {
        display: flex;
    }

    100% {
        display: none;
    }
}

.header {

    display: flex;
    flex-direction: column;

    &_light {
        --border-radius: 20px;

        background-color: var(--background);
        padding: var(--header-padding);
        border-bottom-left-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
    }

    &__pop-up {
        &.opened {
            height: 50vh;
            max-height: 50vh;
            opacity: 1;
            transition: max-height 1s,
                height 1s,
                opacity 0.4s linear,
                visibility 10s;
            visibility: visible;
        }

        transition: max-height 1s,
        height 1s,
        opacity 0.4s,
        display 10s;

        display: flex;

        border-radius: 8px;
        background-color: var(--background);
        width: 100%;

        animation-name: close-animation;
        animation-duration: 1000s;
        animation-iteration-count: 1;

        visibility: hidden;

        height: 0;
        max-height: 0;
        z-index: 1;
        opacity: 0;

        flex-direction: row;
        gap: 28px;

        &__info-wrapper {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            &__category-title {
                flex: 0 1 auto;
                font-size: 26px;
            }

            &__list {
                flex: 1 1 auto;
                display: flex;
                flex-direction: column;
                overflow: auto;
                column-gap: 32px;

                &__item {
                    padding: 0;
                    width: fit-content;
                    padding-block: 16px;
                }
            }
        }

        &__list {
            flex: 0 1 auto;
            display: flex;
            flex-direction: column;
            row-gap: 14px;
            text-align: left;
            border-right: 2px solid lightgray;
            padding-right: 28px;
            overflow: auto;

            &__button {
                padding-inline: 0;
                height: fit-content;
            }

            span {
                width: 100%;
                text-align: left;
                font-size: 18px;
            }
        }
    }

    &__nav {
        display: flex;
        flex-direction: column;
        gap: 24px;
        position: relative;

        &__logo {
            &:hover {
                cursor: pointer;
            }
        }

        &__tf {
            display: none;
            flex: 1 1 auto;
        }

        &__row {
            width: 100%;
            display: flex;
            height: fit-content;
            align-items: center;
            height: 48px;

            &_main {
                justify-content: space-between;

                &__icons-wrapper {
                    display: flex;
                    gap: 8px;

                    &__phone {
                        display: none;
                        line-height: 0;
                        flex: 0 1 auto;
                        width: max-content;

                        &__button {
                            width: 48px;
                            height: 48px;
                            padding: 12px;
                            border-radius: 12px;

                            &.s {
                                visibility: hidden;
                            }

                            &:hover {
                                background-color: whitesmoke;
                            }

                            &:active {
                                background-color: #eee;
                            }
                        }
                    }
                }

                &__search-field-wrapper {
                    display: flex;
                    gap: 9px;

                    &__body {
                        position: relative;

                        &__modal {
                            &_tint {
                                position: fixed;
                                top: 0;
                                left: 0;
                                width: 100vw;
                                height: 100vh;
                                background-color: black;
                                opacity: 0.3;
                                z-index: 3;
                            }

                            &_content {
                                position: absolute;
                                width: 100%;
                                top: 100%;
                                left: 0px;
                                margin-top: 9px;
                                padding: 13.5px 10px;
                                background-color: white;
                                border-radius: 10px;
                                z-index: 4;

                                display: flex;
                                flex-direction: column;
                                row-gap: 16px;

                                &__item {
                                    display: flex;
                                    flex-direction: column;
                                    row-gap: 4px;

                                    h3 {
                                        font-weight: 900;
                                    }

                                    ul {
                                        list-style-type: none;
                                        display: flex;
                                        flex-direction: column;

                                        li {
                                            padding-block: 4px;
                                            cursor: pointer;

                                            &:hover {
                                                color: var(--secondary-color);
                                                font-weight: 900;
                                            }
                                        }
                                    }

                                    &__link {
                                        padding: 0;
                                        width: fit-content;
                                        height: fit-content;
                                    }
                                }
                            }
                        }

                        &__field {
                            width: 400px;
                            z-index: 4;
                        }
                    }


                }
            }
        }

        &__secondary {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            opacity: 1;
            position: relative;
            height: 20px;

            transition: opacity 0.5s, visibility 0.5s, height 0.5s;

            .address-wrapper {
                color: var(--secondary-color);
            }

            .categories-wrapper {
                display: flex;
                gap: 24px;
                color: var(--dark-gray-text-color);
                font-size: 16px;

                &__item {
                    position: relative;

                    &__value:hover {
                        cursor: pointer;
                        color: var(--black-color);
                    }
                }
            }

            &__seller {
                color: green;
                cursor: pointer;

                &-pending {
                    color: orange;
                    cursor: pointer;
                }
            }

            &.hidden {
                opacity: 0;
                visibility: hidden;
                height: 0;
            }
        }

        .menu-modal {
            position: fixed;
            z-index: 100;
            top: 0;
            right: 0;
            background-color: white;
            border-left: 1px solid lightgray;

            &.opened {
                .menu-modal__tint {
                    opacity: 0.3;
                    z-index: 100;
                }

                .menu-modal__content {
                    min-width: 300px;
                    z-index: 500;
                    position: relative;
                }
            }

            &__content {
                width: 0;
                min-width: 0;
                max-width: 0;
                height: 100vh;
                transition: width 0.5s, min-width 0.5s;

                z-index: 2;

                &__title {
                    display: flex;
                    align-items: center;
                    font-size: 24px;
                    column-gap: 8px;

                    &__text {
                        line-height: 0;
                    }
                }

                &__button {
                    padding-inline: 12px;
                    column-gap: 12px;
                    color: black;

                    &:hover {
                        color: var(--background-button-color);
                    }
                }

                &__padding {
                    margin-top: 16px;
                    margin: 8px;
                }

                &>* {
                    width: fit-content;
                }
            }

            &__tint {
                opacity: 0;
                transition: opacity 0.5s;
            }

            &>* {
                width: fit-content;
            }
        }
    }
}

.subcategories-modal {
    position: absolute;
    left: -12px;
    z-index: 100;
    width: max-content;

    &__items {
        padding: 12px;

        display: flex;
        flex-direction: column;
        row-gap: 12px;

        background-color: white;
        margin-top: 12px;
        box-shadow: 0px 0px 20px lightgray;
        border-radius: 8px;

        &__item {
            cursor: pointer;

            &:hover {
                color: var(--secondary-color);
            }
        }
    }
}

.bottom-button {}