<header></header>
<main>
    <div class="reg_page__decoration"></div>
    <div class="reg_page__content">
        <h1 class="reg_page__content__title">Регистрация</h1>
        <div class="reg_page__content__form"></div>
        <button class="btn button__primary" name="signup">Зарегистрироваться на BAZAAR</button>
    </div>
</main>
<footer></footer>