html {
    background-color: var(--background);
}

.reg_page {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.reg_page header,
.reg_page footer {
    height: 50px;
    flex: 0 1 auto;
}

.reg_page main {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reg_page__content {
    padding: 72px 52px 54px 52px;
    border-radius: 20px;

    display: flex;

    border: 1px solid #C1D6E5;
    background-color: #F5F7FA;
}

.reg_page__title {
    width: 424px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.reg_page__title__icon {
    margin-bottom: 30px;
}

.reg_page__title__header__h1 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 10px;
}

.reg_page__title__header__comment {
    color: #737980;
    font-size: 16px;
    width: 361px;
}

.reg_page__title__comment {
    margin-top: 30px;
    width: 361px;
}

.reg_page__title__comment__error {
    color: #F04346;
}

.reg_page__title__comment__error ul,
.reg_page__title__comment__help ul {
    margin-top: 12px;
    margin-left: 24px;
}

.reg_page__title__redirect {
    margin-top: auto;
    padding: 0;
}

.reg_page__form {
    width: 500px;
}

.reg_page__form__content {
    row-gap: 30px;
}

.reg_page__form__actions {
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 30px;
}
