<div class="reg_page">
    <header></header>
    <main>
        <div class="reg_page__decoration"></div>
        <div class="reg_page__content">
            <h1 class="reg_page__content__title">Регистрация</h1>
            <component data-id="form"></component>
            <component data-id="signupButton"></component>
        </div>
    </main>
    <footer></footer>
</div>