<div class="container">
    <component data-id="header"></component>
    <main class="index-page">
        <h1 class="h-reset main-h1">Весенние хиты</h1>
        <div class="cards-container">
        <component data-id="cards"></component>
        </div>
    </main>
    <component data-id="footer"></component>
</div>
