<div class="container">
    <header></header>
    <main class="login_page">
        <div class="login_page__content">
            <div class="login_page__title">
                <div>
                    <img class="login_page__title__icon" src="../../shared/images/LogoFull.svg">
                    <div class="login_page__title__header">
                        <h1 class="login_page__title__header__h1">Вход</h1>
                        <div class="login_page__title__header__comment">Укажите данные для ввода</div>
                    </div>
                    <component data-id="comment"></component>
                </div>
                <component data-id="redirectMainButton"></component>
            </div>
            <div class="login_page__form">
                <component data-id="form"></component>
                <div class="login_page__form__actions">
                    <component data-id="signupButton"></component>
                    <component data-id="signinButton"></component>
                </div>
                <component data-id="rememberMeButton"></component>
            </div>
        </div>
    </main>
    <footer></footer>
</div>