<header></header>
<main>
    <div class="login_page__content">
        <h1 class="login_page__content__title">Логин</h1>
        <div class="login_page__content__form"></div>
        <div class="login_page__content__remind_flag">
            <input id="remind_me" type="checkbox">
            <label for="remind_me">Запомнить меня</label>
        </div>
        <button class="btn button__success">Войти на BAZAAR</button>
        <div class="login_page__content__sep">Нет профиля на BAZAAR</div>
        <button class="btn button__success">Зарегистрироваться</button>
    </div>
</main>
<footer></footer>