<footer class="footer__light">
    <div class="flex-column ico-column">
        <img alt="Bazaar логотип" src="src/shared/images/LogoFull.svg" class="logo">
    </div>
    <div class="links-wrapper">
        <div class="links-columns">
            <div>
                <h4 class="h-reset footer-h4">Bazaar маркетплейс</h4>
                <ol class="list-reset footer-list">
                    <li>О Bazaar / About Bazaar</li>
                    <li>Вакансии</li>
                    <li>Реквизиты</li>
                    <li>Стать курьером</li>
                </ol>
            </div>

            <div>
                <h4 class="h-reset footer-h4">Зарабатывать с Bazaar</h4>
                <ol class="list-reset footer-list">
                    <li>Стать продавцом</li>
                    <li>Что продавать на Bazaar</li>
                    <li>Открыть ПВЗ Bazaar</li>
                </ol>
            </div>

            <div>
                <h4 class="h-reset footer-h4">Помощь</h4>
                <ol class="list-reset footer-list">
                    <li>Как сделать заказ</li>
                    <li>Оплата</li>
                    <li>Доставка</li>
                    <li>Адреса ПВЗ</li>
                    <li>Возврат товаров</li>
                    <li>Контакты</li>
                    <li>Безопасность</li>
                    <li>Условия обработки данных</li>
                </ol>
            </div>
        </div>
        <div class="all-right-reserved">
            <p>© 2025 «Базар»</p>
            <p>Все права защищены.</p>
        </div>
    </div>
</footer>