/* list styles */
.list-reset {
    padding: 0;
    margin: 0;
    list-style: none;
}

.h-reset {
    margin: 0;
    padding: 0;
}

/* footer styling */
.footer__light {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 32px;
    padding: 22px 60px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.logo {
    height: 48px;
    width: 123px;
}

.links-wrapper {
    display: grid;
    grid-template-rows: 1fr auto;
    row-gap: 32px;
}

.all-right-reserved {
    text-align: right;
    color: var(--dark-gray-text-color);
}

.links-columns {
    gap: 30px;
    display: flex;
    justify-content: end;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 6px;
    color: var(--dark-gray-text-color);
    font-size: 15px;
}

.footer-list li:hover {
    cursor: pointer;
}

.footer-h4 {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}