@media screen and (min-width: 720px) {
  .footer {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 32px;

    &__links-wrapper {
      &__links-columns {
        justify-content: end;
      }

      &__all-right-reserved {
        text-align: right;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .footer {
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 32px;

    &__links-wrapper {
      &__links-columns {
        justify-content: start;
      }

      &__all-right-reserved {
        text-align: left;
      }
    }
  }
}

.footer {
  padding: 22px 60px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;

  &_light {
    background-color: white;
  }

  &_h4 {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
  }

  &__ico-column {

    &__logo {
      height: 48px;
      width: 123px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__links-wrapper {
    display: grid;
    grid-template-rows: 1fr auto;
    row-gap: 32px;

    &__links-columns {
      gap: 30px;
      display: flex;

      &__footer-list {
        display: flex;
        flex-direction: column;
        gap: 6px;
        color: var(--dark-gray-text-color);
        font-size: 15px;

        li:hover {
          cursor: pointer;
        }
      }
    }

    &__all-right-reserved {
      color: var(--dark-gray-text-color);
    }

  }

  .flex {
    display: flex;

    &.column {
      flex-direction: column;
    }

  }
}




