.tf {
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
}

.tf__title {
    margin-right: 8px;
    font-size: 16px;
}

.tf__input {
    padding: 12px;

    outline: none;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #E1E6E8;

    font-size: 17px;
    font-family: inherit;
}

.tf__input::placeholder {
    color: #868686;
}

.tf__error {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 4px;
    color: red;
    font-size: 14px;
}