<div class="tf">
    <span class="tf__title">{{{title}}}</span>
    <input class="tf__input" name="{{{name}}}" type="{{{dataType}}}" placeholder="{{{placeholder}}}">
    <span class="tf__error" hidden></span>
</div>