.tf {
    position: relative;
}

.tf__input {
    outline: none;
    border-radius: var(--input-m-border-radius);
    font-family: inherit;

    padding: 13.5px 10px;
    border-radius: 10px;
    width: 100%;

    background-color: var(--input-background-color);
    font-size: var(--input-m-font-size);
    border: none;
    outline: none;
    font-weight: 300;
    caret-color: #1783FF;
    caret-color: var(--secondary-color);
}

.tf__input::placeholder {
    color: var(--dark-gray-text-color);
}

.tf__mark {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    line-height: 0;
}

/* types of input fields */

.tf__type__input,
.tf__type__input__correct,
.tf__type__input__invalid,
.tf__search__type__input {
    font-size: var(--input-m-font-size);
    height: var(--input-m-height);
}

.tf__type__input,
.tf__type__input__correct,
.tf__type__input__invalid {
    border: 1px solid var(--input-background-color);
}

.tf__search__type__input {
    border: 1px solid var(--secondary-color);
    color: var(--black-color);
}

.tf__type__input__width__full-wide {
    width: 100%;
}

.tf__type__input__width__400 {
    width: 400px;
}

.tf__type__input__width__500 {
    width: 500px;
}

.tf__type__input:focus,
.tf__type__input__correct:focus,
.tf__type__input__invalid:focus {
    outline: 1px solid var(--secondary-color);
    background-color: var(--input-background-color);
}

.tf__type__input {
    background-color: var(--input-background-color);
    padding: 13.5px 10px;
    color: black;
}

.tf__type__input__correct {
    padding-right: 42px;
    outline: 2px solid #1783FF;
}

.tf__type__input__invalid {
    padding-right: 44px;
    outline: 2px solid #F04346;
    background-color: rgba(240, 67, 70, 10%);
}