.btn-with-icon {
    display: flex;
    align-items: center;
    padding: 6px 14px;
    outline: none;
    border-radius: 8px;
    font-family: inherit;
    font-size: 16px;
    letter-spacing: 0.5px;
    cursor: pointer;
    color: white;
    gap: 2px;
}

.btn-icon {
    width: 22px;
    height: 22px;
}

.btn-with-icon__accent {
    border: 2px solid #3D8D7A;
    background-color: #3D8D7A;
}

.button__orientation__top {
    flex-direction: column;
}

.button__orientation__bottom {
    flex-direction: column-reverse;
}

.button__orientation__left {
    flex-direction: row;
}

.button__orientation__right {
    flex-direction: row-reverse;
}
